<html>
<h1>DIGIMART ONLINE</h1>
<h2 id="user">HI <%= user.username %> </h2>
<h2 id="account"><%= user.userType %> account</h2>

<form action="/logout?_method=DELETE" method="POST">
    <button type="submit">LOG OUT</button>
</form>

<% var i=1; %>
<% if(user.userType == "Seller" || user.userType == "seller") {%>
    <%- include('partials/Seller.ejs'); -%>
<% items.forEach(function(entry){ %>
    <h2 style="text-align: center;">My PRODUCTS</h2>
<% entry.forEach(function(item){ %>
    <div id="product" style="padding-left: 750px;">
        <div id="pDetails">
            <p><%=i%>) <strong>PRODUCT: <%=item.product %></strong></p>
            <p><strong>ITEM CODE: <%= item.code %></strong></p>
            <p>CATEGORY: <%= item.category %></p>
            <p>PRICE: <%= item.price %></p>
            <p>QUANTITY AVAILABLE: <%= item.stock %></p>
        </div>
    </div>
    <% i++; %>
<% }); %>
<% }); %>
<% } %>
<% if(user.userType == "Buyer" || user.userType == "buyer") {%>
    <form action="/purchase/cart" method="POST">
        <button type="submit">CART</button>
    </form>
    <%- include('partials/Buyer.ejs'); -%>
<% market.forEach(function(marketItem){ %>
    <h2 style="text-align: center;">MARKET</h2>
<% marketItem.forEach(function(item){ %>
    <div id="product">
        <div id="pDetails">
            <p><%=i%>) <strong>PRODUCT: <%=item.product %></strong></p>
            <p><strong>ITEM CODE: <%= item.code %></strong></p>
            <p>CATEGORY: <%= item.category %></p>
            <p>PRICE: <%= item.price %></p>
            <p>QUANTITY AVAILABLE: <%= item.stock %></p>
        </div>
        <div id="sDetails">
            <p>SELLER DETAILS</p>
            <p>SOLD BY: <%= item.owner %></p>
            <p>EMAIL: <%= item.ownerEmail %></p>
        </div>
    </div>
    <% i++; %>
<% }); %>
<% }); %>
<% } %>

<link rel="stylesheet" href="dashboardStyle.css">
</html>