<html>
    <h2>CONFIRM SELECTION</h2>
<% itemConfirmed.forEach(function(entry){ %>
<div>
    <p><strong>Product Requested: <%=entry.product%></strong></p>
    <p>Product Code: <%=entry.code%></p>
    <p>Available: <%=entry.stock%></p>
    <p>Seller: <%=entry.owner%></p>
</div>
<% }); %>
<div id="request">
<p>Quantity Requested: <%=quantityRequested%></p>

<form action="/purchase/confirm" method="POST">
    <button type="submit">CONFIRM PURCHASE</button>
</form>

<form action="/purchase/cart" method="POST">
    <button type="submit">ADD TO CART</button>
</form>
</div>
</html>

<style>
    h2 {
        text-align: center;
        font-size: 1.25cm;
    }
    div {
        padding-top: 100px;
        text-align: center;
        font-size: xx-large;
    }
    html {
        background-color: blanchedalmond;
    }
</style>